<section class="filter-section">
    <app-product-filter
        [categories]="categories"
        (filterChange)="onFilterChange($event)"
    ></app-product-filter>
</section>

<section class="marquee-wrapper">
    <div class="marquee">
        <span class="marquee__text"
            >Welcome to our shopping website. We have a wide range of products
            available for you.</span
        >
    </div>
</section>

<section class="product-section">
    <div class="container product-row">
        <ng-container
            *ngFor="let product of productsDisplay; trackBy: trackById"
        >
            <app-card-product [product]="product"></app-card-product>
        </ng-container>
    </div>
</section>
