@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.filter-section {
    background: $white;
    margin-top: 65px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.marquee-wrapper {
    border-top: $border;
    border-bottom: $border;
    padding: 0.5rem 0;
    background-color: $white;
    overflow: hidden;
    width: 100%;

    .marquee {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 0.2rem;
        width: 100%;
    }

    .marquee__text {
        padding: 0 1rem;
        font-size: 0.875rem;
        color: $black;
        text-transform: uppercase;
        animation: marquee 40s linear infinite;
        letter-spacing: 0.2rem;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.product-section {
    background-color: $white;
}

.container {
    @include responsive-grid(4);

    display: grid;
    align-items: stretch;
    padding: 0;
    max-width: 100%;
}

app-card-product {
    height: 100%;
    display: flex;
}

/* media queries */
@media (min-width: 1400px) {
    .container {
        min-width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        @include responsive-grid(3);
    }
}

@media (max-width: 768px) {
    .container {
        @include responsive-grid(2);
    }

    .product__image {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .container {
        @include responsive-grid(1);
    }

    .product__image {
        height: 150px;
    }
}
