@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.product-section {
    background-color: $white;
}

.container {
    @include responsive-grid(4);

    display: grid;
    align-items: stretch;
    padding: 0;
    max-width: 100%;
}

app-card-product {
    height: 100%;
    display: flex;
}

/* media queries */
@media (min-width: 1400px) {
    .container {
        min-width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        @include responsive-grid(3);
    }
}

@media (max-width: 768px) {
    .container {
        @include responsive-grid(2);
    }

    .product__image {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .container {
        @include responsive-grid(1);
    }

    .product__image {
        height: 150px;
    }
}
