@use "../../../_variables.scss" as *;

.filter-section {
    background: $white;
    margin-top: 65px;
    padding: 2rem 0 1rem 0;
}

.marquee-wrapper {
    border-top: $border;
    padding: 0.5rem 0;
    background-color: $white;
    overflow: hidden;
    width: 100%;

    .marquee {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 0.2rem;
        width: 100%;
    }

    .marquee__text {
        padding: 0 1rem;
        font-size: 0.875rem;
        color: $black;
        text-transform: uppercase;
        animation: marquee 40s linear infinite;
        letter-spacing: 0.2rem;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* media queries */
@media (max-width: 1024px) {
    .header {
        margin-top: 3rem;

        .header__title {
            & > div {
                font-size: 2rem !important;
                letter-spacing: 1.8rem !important;
            }
        }
    }
}
