<h2 mat-dialog-title class="checkout-dialog__header">Checkout</h2>

<mat-dialog-content>
    <ul class="cart-items">
        <li *ngFor="let product of cart$ | async" class="cart-items__item">
            <div class="checkout-container">
                <section class="checkout-wrapper">
                    <div class="cart-items__details">
                        <img
                            [src]="product.image"
                            alt="{{ product.title }}"
                            class="cart-items__image"
                        />
                        <span
                            class="cart-items__title"
                            matTooltip="{{ product.title }}"
                            >{{ product.title }}</span
                        >
                        <span class="cart-items__price">{{
                            product.price | currency
                        }}</span>
                    </div>
                    <div
                        class="cart-items__details cart-items__details--quantity"
                    >
                        <app-update-quantity
                            [product]="product"
                            [quantity]="getProductQuantity(product)"
                            (quantityChange)="updateQuantity(product, $event)"
                        ></app-update-quantity>
                        <button
                            (click)="removeOnClick(product)"
                            class="cart-items__delete"
                        >
                            Remove
                        </button>
                    </div>
                </section>
            </div>
        </li>
    </ul>
</mat-dialog-content>

<mat-dialog-actions align="end" class="checkout-dialog__actions">
    <h2>
        Total price: <span>{{ totalPrice$ | async | currency }}</span>
    </h2>

    <section>
        <button mat-button color="primary" (click)="checkoutCart()">
            Checkout
        </button>
        <button
            mat-button
            (click)="onClose()"
            color="accent"
        >
            Close
        </button>
    </section>
</mat-dialog-actions>