<mat-toolbar class="navbar">
    <mat-toolbar-row class="navbar__nav">
        <div class="navbar__logo">
            <span class="navbar__title"><a href="/">Shopping Website</a></span>
        </div>
        <section class="navbar-right">
            <button (click)="openDialog()" mat-icon-button>
                <mat-icon
                    matBadge="{{ totalQuantity$ | async }}"
                    matBadgePosition="after"
                    matBadgeColor="accent"
                    aria-hidden="false"
                >
                    shopping_cart
                </mat-icon>
            </button>
        </section>
    </mat-toolbar-row>
</mat-toolbar>
