$black: #000;
$white: #fff;
$pale-white: #f1f1f1;
$pale-blue: #0ea5e9;
$yellow: #f4d914;
$green: #2ecc71;
$border: 1px solid $black;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: $border;
    background-color: $white;

    .navbar__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__title,
    .navbar__cart {
        color: $black;
    }

    .navbar__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }

    .navbar-right {
        border-left: 1px solid $black;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .navbar__dialog {
        margin-left: 0.875rem;
    }
}

@media (max-width: 375px) {
    .navbar__title {
        font-size: 1rem !important;
    }
}
