<div class="product-filter" [formGroup]="filterForm">
    <!-- filter by category -->
    <mat-form-field>
        <mat-label>Category:</mat-label>
        <mat-select
            formControlName="category"
            (selectionChange)="onCategoryChange()"
        >
            <mat-option *ngFor="let category of categories" [value]="category">
                {{ category | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- sort by -->
    <mat-form-field>
        <mat-label>Sort By:</mat-label>
        <mat-select
            formControlName="sort"
            (selectionChange)="onSortChange()"
        >
            <mat-option
                *ngFor="let option of sortOptions"
                [value]="option.value"
            >
                {{ option.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- search product -->
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input
            matInput
            formControlName="search"
            placeholder="Search for products"
            (input)="onSearchChange($event)"
            aria-label="Search products"
        />
        <button *ngIf="searchControl?.value" matSuffix mat-icon-button aria-label="Clear search" (click)="onSearchClear()">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-form-field>
</div>
