<div class="product-filter">
    <!-- filter by category -->
    <mat-form-field>
        <mat-label>Category:</mat-label>

        <mat-select
            [(ngModel)]="selectedCategory"
            (ngModelChange)="onFilterChange()"
        >
            <mat-option value="all">All categories</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">
                {{ formatUpperCaseCategory(category) }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- sort by -->
    <mat-form-field>
        <mat-label for="sort">Sort By:</mat-label>

        <mat-select
            [(ngModel)]="selectedSort"
            (ngModelChange)="onFilterChange()"
        >
            <mat-option value="none">No sorting</mat-option>
            <mat-option value="asc">Low to high price</mat-option>
            <mat-option value="desc">High to low price</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- search product -->
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input
            matInput
            [(ngModel)]="searchQuery"
            (ngModelChange)="onFilterChange()"
        />
    </mat-form-field>
</div>
