@use "../../../_variables.scss" as *;

.product-filter {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    mat-label {
        color: $white;
    }

    mat-select {
        color: $white;
    }
}

/* responsive styles */
@media (max-width: 1200px) {
    .product-filter {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .product-filter {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
}
