@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.product-filter {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    @include responsive-grid(3);
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    mat-label {
        color: $white;
    }

    mat-select {
        color: $white;
    }
}

/* responsive styles */
@media (max-width: 1200px) {
    .product-filter {
        @include responsive-grid(2);
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .product-filter {
        @include responsive-grid(1);
        gap: 0;
    }
}
