*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fff;
}

html,
body {
    height: 100%;
}

.mat-mdc-dialog-surface {
    border-radius: 0 !important;
    border: 1px solid #000;
}
