$black: #000;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fff;
}

html,
body {
    height: 100%;
}

.mat-mdc-dialog-surface {
    border-radius: 0 !important;
    border: 1px solid $black;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-bottom: 1px solid $black !important;
    border-radius: 0px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__leading {
    border-left: 1px solid $black !important;
    border-top: 1px solid $black !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-right: 1px solid $black !important;
    border-top: 1px solid $black !important;
}
