mat-dialog-content {
    padding: 0 !important;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;

    .cart-items__item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .cart-items__image {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}

.checkout-dialog__actions {
    display: flex;
    justify-content: space-between;

    span {
        font-size: 1.25rem;
        font-weight: 500;
    }
}
