<h2 mat-dialog-title class="checkout-dialog__header">Checkout</h2>

<mat-dialog-content>
    <div class="cart-items">
        <li *ngFor="let item of cartItems" class="cart-items__item">
            <div class="checkout-container">
                <section class="checkout-wrapper">
                    <img
                        [src]="item.image"
                        alt="{{ item.title }}"
                        class="cart-items__image"
                    />
                    <span class="cart-items__title">{{ item.title }}</span>
                    <span class="cart-items__price">{{
                        item.price | currency
                    }}</span>
                    <span class="cart-items__quantity"
                        >Qty: {{ item.quantity }}</span
                    >
                </section>
            </div>
        </li>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="checkout-dialog__actions">
    <span>Total price: {{ totalPrice | currency }}</span>
    <button mat-button (click)="onClose()" color="accent">Close</button>
</mat-dialog-actions>
