$black: #000;
$white: #fff;
$pale-white: #f1f1f1;
$pale-blue: #0ea5e9;
$yellow: #f4d914;
$green: #2ecc71;
$border: 1px solid $black;

.checkout-dialog__header {
    border-bottom: $border;
    line-height: 2;
    margin-bottom: 0;
}

mat-dialog-content {
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;

    padding: 0 !important;
}

.cart-items {
    display: flex;
    flex-direction: column;
    list-style: none;

    .cart-items__item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 1rem;

        .cart-items__title,
        .cart-items__price,
        .cart-items__quantity {
            color: $black;
            font-size: 0.875rem;
        }

        .cart-items__image {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }

        &:not(:last-child) {
            padding-bottom: 1rem;
        }

        &:last-child {
            margin-bottom: 1rem;
        }

        .checkout-container {
            width: 90%;
            margin: 0 auto;
        }

        .checkout-wrapper {
            display: flex;
            flex-direction: column;
        }

        .cart-items__details {
            display: flex;
            flex-direction: row;
            align-items: center;

            .cart-items__title {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
            }

            .cart-items__quantity-change {
                display: flex;
                flex-direction: row;

                .cart-items__add,
                .cart-items__remove,
                .cart-items__input {
                    border-top: 1px solid $black;
                    border-bottom: 1px solid $black;
                    outline: none;
                    color: $black;
                    background-color: $white;
                    text-align: center;
                    border-radius: 0;
                    font-size: 0.875rem;
                    font-weight: 400;
                }

                .cart-items__add,
                .cart-items__remove {
                    transition: all 0.15s ease-in-out;
                    border-left: 1px solid $black;
                    border-right: 1px solid $black;
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                }

                .cart-items__add:hover,
                .cart-items__remove:hover {
                    background-color: $black;
                    color: $white;
                }

                .cart-items__input {
                    width: 50px;
                    height: 25px;
                    border-left: 0;
                    border-right: 0;
                }
            }

            &:first-child {
                justify-content: space-between;
            }

            &:last-child {
                justify-content: flex-end;
                gap: 1rem;
            }

            .cart-items__delete {
                border: none;
                outline: none;
                background-color: $white;
                font-size: 0.875rem;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.checkout-dialog__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: $border;
    padding: 0 1.5rem;

    h2 {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0;
    }
}
