@use "../../../_variables.scss" as *;

.filter-section {
    background: $white;
    margin-top: 65px;
    padding: 2rem 0 1rem 0;
}

.marquee-wrapper {
    border-top: $border;
    padding: 0.5rem 0;
    background-color: $white;
    overflow: hidden;
    width: 100%;

    .marquee {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 0.2rem;
        width: 100%;
    }

    .marquee__text {
        padding: 0 1rem;
        font-size: 0.875rem;
        color: $black;
        text-transform: uppercase;
        animation: marquee 40s linear infinite;
        letter-spacing: 0.2rem;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.product-section {
    background-color: $pale-blue;
}

.container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: $border;
    border-bottom: $border;
    margin: 0 auto;
}

.product {
    background: $white;
    border-radius: 0;
    box-shadow: 0 0 0 1px $black;
    padding: 1rem;

    .product__image {
        width: 100%;
        height: 200px;
        object-fit: contain;
        transition: all 0.15s ease-in-out;
    }

    &:hover .product__image {
        transform: scale(1.05);
    }

    .product__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        padding-top: 0.75rem;

        .product__details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            h2 {
                line-height: 150%;
                font-size: 0.9rem;
                font-weight: 400;
                margin-bottom: 2px !important;
            }

            &:hover h2 {
                text-decoration: underline;
            }
        }

        .product-add__button {
            background-color: $white;
            border-radius: 0;
            border: $border;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;

            &:hover {
                background: $black;
                color: $white;
                border: 1px solid $black;
            }

            span {
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    .product__price {
        margin-top: 1.4rem;
        font-weight: 400;
    }

    .mat-mdc-card-header {
        justify-content: center;
    }

    .star-rating {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #aaa;
        letter-spacing: 2px;

        &::before {
            content: "★★★★★";
        }

        .star-rating__filled {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
            width: 0%;
            color: $yellow;
        }

        .star-rating__filled::before {
            content: "★★★★★";
        }
    }
}

// highlight background when add product to cart
.one-item__highlighted,
.many-items__highlighted {
    border: none !important;
}

.one-item__highlighted {
    background-color: $pale-blue;
    color: $white;
    box-shadow: 0 0 0 1px $white;

    .product-add__button {
        background-color: $pale-blue !important;
        border: 1px solid $white !important;
        color: $white !important;

        &:hover {
            background-color: $white !important;
            color: $pale-blue !important;
            border: 1px solid $white !important;
        }
    }
}

.many-items__highlighted {
    background-color: $black;
    color: $white;
    box-shadow: 0 0 0 1px $white;

    .product-add__button {
        background-color: $black !important;
        color: $white;
        border: 1px solid $white !important;

        &:hover {
            background: $white !important;
            color: $black !important;
        }
    }
}

/* media queries */
@media (max-width: 1024px) {
    .header {
        margin-top: 3rem;

        .header__title {
            & > div {
                font-size: 2rem !important;
                letter-spacing: 1.8rem !important;
            }
        }
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product__image {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .header__title {
        & > div {
            font-size: 1.2rem !important;
            letter-spacing: 1.8rem !important;
        }
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .product__image {
        height: 150px;
    }
}
