$black: #000;
$white: #fff;
$pale-white: #f1f1f1;
$pale-blue: #0ea5e9;
$yellow: #f4d914;
$green: #2ecc71;
$border: 1px solid $black;

.header {
    background-color: $white;
    margin-top: 5rem;

    .header__title {
        min-height: 100vh;
        display: grid;
        place-items: center;
        grid-template-rows: repeat(3, 1fr);

        & > div {
            padding-left: 1.5rem;
            color: $pale-blue;
            font-size: 7rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 5rem;
        }
    }
}

.filter-section {
    background: $pale-blue;
    border-top: $border;
    padding: 2rem 0rem 1rem 0rem;
}

.marquee-wrapper {
    border-top: $border;
    padding: 1.2rem 0;
    background-color: $white;

    .marquee {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        animation: marquee 15s linear infinite;
        margin-top: 0.2rem;

        .marquee__text {
            padding: 0 2rem;
            font-size: 1.5rem;
            color: $black;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
    }
}

.product-section {
    background-color: $pale-blue;
}

.container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: $border;
    border-bottom: $border;
    margin: 0 auto;
}

.product {
    background: $pale-white;
    border-radius: 0;
    box-shadow: 0 0 0 1px $black;
    padding: 1rem;

    .product__image {
        width: 100%;
        height: 200px;
        object-fit: contain;
        mix-blend-mode: multiply;
        transition: all 0.15s ease-in-out;
    }

    &:hover .product__image {
        transform: scale(1.05);
    }

    .product__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        padding-top: 0.75rem;

        .product__details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            h2 {
                line-height: 150%;
                font-size: 0.9rem;
                font-weight: 400;
                margin-bottom: 2px !important;
            }

            &:hover h2 {
                text-decoration: underline;
            }
        }

        .product-add__button {
            border-radius: 0;
            border: $border;
            transition: all 0.15s ease-in-out;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;

            &:hover {
                background: $pale-blue;
                color: $white;
                border: 1px solid $pale-blue;
            }

            span {
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    .product__price {
        margin-top: 1.4rem;
        font-weight: 400;
    }

    .mat-mdc-card-header {
        justify-content: center;
    }

    .star-rating {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 24px;
        color: #aaa;
        letter-spacing: 2px;

        &::before {
            content: "★★★★★";
        }

        .star-rating__filled {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
            width: 0%;
            color: $yellow;
        }

        .star-rating__filled::before {
            content: "★★★★★";
        }
    }
}

/* media queries */
@media (max-width: 1024px) {
    .header {
        margin-top: 3rem;

        .header__title {
            & > div {
                font-size: 2rem !important;
                letter-spacing: 1.8rem !important;
            }
        }
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product__image {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .header__title {
        & > div {
            font-size: 1.2rem !important;
            letter-spacing: 1.8rem !important;
        }
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .product__image {
        height: 150px;
    }
}
